scikit-fuzzy==0.4.0
Flask==0.12.2
Flask-Cors==3.0.3
numpy==1.13.1
numpydoc==0.7.0
Jinja2==2.9.6
jsonschema==2.6.0
lxml==3.8.0
MarkupSafe==1.1.0
matplotlib==2.0.2
py==1.4.34
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0
pyflakes==1.5.0
Pygments==2.2.0
pylint==2.1.1
python-dateutil==2.6.1
pytz==2017.2
PyWavelets==0.5.2
pywin32==221