<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : PlainDisplay 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140309

-->
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>ChiliWiz</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
<link href="/static/fonts.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/default.css" rel="stylesheet" type="text/css" media="all" />
<script type=text/javascript>
    $(function() {
      $('#resulta').bind('click', function() {
        $.getJSON('/calcular',
            function(data) {
          $("#variable").html(data.precio);
        });
        return false;
      });
    });
</script>
<script type=text/javascript>
    $(function() {
      $('#saborDulce').bind('click', function() {
        $.getJSON('/saborDulce',
            function(data) {
			$("#saborFinal").html(data.sabor);
        });
        return false;
      });
    });
</script>
<script type=text/javascript>
    $(function() {
      $('#saborAgridulce').bind('click', function() {
        $.getJSON('/saborAgridulce',
            function(data) {
			$("#saborFinal").html(data.sabor);
        });
        return false;
      });
    });
</script>
<script type=text/javascript>
    $(function() {
      $('#saborPicante').bind('click', function() {
        $.getJSON('/saborPicante',
            function(data) {
			$("#saborFinal").html(data.sabor);
        });
        return false;
      });
    });
</script>
<script type=text/javascript>
    $(function() {
      $('#saborSalado').bind('click', function() {
        $.getJSON('/saborSalado',
            function(data) {
			$("#saborFinal").html(data.sabor);
        });
        return false;
      });
    });
</script>
<script type=text/javascript>
    $(function() {
      $('#porcionChica').bind('click', function() {
        $.getJSON('/porcionChica',
            function(data) {
			$("#porcionFinal").html(data.porcion);
        });
        return false;
      });
    });
</script>
<script type=text/javascript>
    $(function() {
      $('#porcionMediana').bind('click', function() {
        $.getJSON('/porcionMediana',
            function(data) {
			$("#porcionFinal").html(data.porcion);
        });
        return false;
      });
    });
</script>
<script type=text/javascript>
    $(function() {
      $('#porcionGrande').bind('click', function() {
        $.getJSON('/porcionGrande',
            function(data) {
			$("#porcionFinal").html(data.porcion);
        });
        return false;
      });
    });
</script>
<script src="/static/math.js"></script>

</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">ChiliWiz</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">Informacion</a></li>
			</ul>
		</div>
	</div>
	</div>
	<div id="banner">
		<div class="container">
			<div class="title">
				<h2>Checador de precios en linea</h2>
				<span class="byline">Conoce los precios de nuestros platillos en internet!, solo selecciona tu platillo y tu porcion y conoce el precio.</span> </div>
		</div>
	</div>
	<div id="extra" class="container">
		<div class="title">
			<h2>Platillos de ChiliWiz</h2>
			<span class="byline">Seleccione uno de los cuatro platillos que ChiliWiz ofrece:</span>
		</div>
		<div id="three-column">
			<div class="boxA">
				<div class="box"> <span class="fa"></span>
					<div class="title">
						<h2>Platillo Dulce</h2>
						<!-- <span class="byline">Proin gravida porttitor accumsan</span> -->
					</div>
					<p>Platillo Dulce para nuestros platillos seleccionados.</p>
					<button type="button" id="saborDulce" class="btn btn-outline-danger">Seleccionar</button>
				</div>
			</div>
			<div class="boxB">
				<div class="box"> <span class="fa"></span>
					<div class="title">
						<h2>Platillo Agridulce</h2>
						<!-- <span class="byline">Proin gravida porttitor accumsan</span> -->
					</div>
					<p>Platillo Dulce para nuestros platillos seleccionados.</p>
					<button type="button" id="saborAgridulce" class="btn btn-outline-danger">Seleccionar</button>
				</div>
			</div>
			<div class="boxC">
				<div class="box"> <span class="fa"></span>
					<div class="title">
						<h2>Platillo Picante</h2>
						<!-- <span class="byline">Proin gravida porttitor accumsan</span> -->
					</div>
					<p>Porcion Picante para nuestros platillos seleccionados.</p>
					<button type="button" id="saborPicante" class="btn btn-outline-danger">Seleccionar</button>
				</div>
			</div>
		</div><p>&nbsp;</p>
		<div id="three-column">
		<div class="boxcenter">
			<div class="box"> <span class="fa"></span>
				<div class="title">
					<h2>Platillo Salado</h2>
					<!-- <span class="byline">Proin gravida porttitor accumsan</span> -->
				</div>
				<p>Porcion Salado para nuestros platillos seleccionados.</p>
				<button type="button" id="saborSalado" class="btn btn-outline-danger">Seleccionar</button>
			</div>
		</div>
	</div>
	<div id="extra" class="container">
		<div class="title">
			<h2>Porciones de ChiliWiz</h2>
			<span class="byline">Seleccione una de las tres porciones que ChiliWiz Ofrece:</span> </div>
		<div id="three-column">
			<div class="boxA">
				<div class="box"> <span class="fa"></span>
					<div class="title">
						<h2>Platillo chico</h2>
						<!-- <span class="byline">Proin gravida porttitor accumsan</span> -->
					</div>
					<p>Porcion chica para nuestros platillos seleccionados.</p>
					<button type="button" id="porcionChica" class="btn btn-outline-success">Seleccionar</button>
				</div>
			</div>
			<div class="boxB">
				<div class="box"> <span class="fa"></span>
					<div class="title">
						<h2>Platillo Mediano</h2>
						<!-- <span class="byline">Proin gravida porttitor accumsan</span> -->
					</div>
					<p>Porcion Mediana para nuestros platillos.</p>
					<button type="button" id="porcionMediana" name="porcionMediana" class="btn btn-outline-success">Seleccionar</button>
				</div>
			</div>
			<div class="boxC">
				<div class="box"> <span class="fa"></span>
					<div class="title">
					<h2>Platillo Grande</h2>
					<!-- <span class="byline">Proin gravida porttitor accumsan</span> -->
					</div>
					<p>Porcion Grande para nuestros platillos.</p>
					<button type="button" id="porcionGrande" class="btn btn-outline-success">Seleccionar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="title">
		<h2>Precio</h2>
		<span id="platilloCalcular" class="byline">Calcula el precio aproximado de tu platillo:</span>
		<p>
					<form>
			<a id="resulta" class="btn btn-outlined btn-black btn-lg" data-wow-delay="0.7s">Calcular Precio</a>
					</form>
		</p>
		<b>Sabor Seleccionado: </b><span style="white-space:nowrap" id="saborFinal">&nbsp;</span><br>
		<b>Porcion Seleccionada: </b><span style="white-space:nowrap" id="porcionFinal">&nbsp;</span><br>
		<b>Precio Final: </b><span style="white-space:nowrap" id="variable">&nbsp;</span>
	</div>
	</div>
</div>
<div id="copyright" class="container">
	<p> Restaurante ChiliWiz | Hecho por el equipo GINYU | Diseño por <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>

<!-- https://developers.google.com/speed/libraries/#d3js -->